.header-appbar {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: .8;
    height: auto;
    .header-links {
        list-style: none; 
        text-align: center;
        position: fixed;
        top: 0;
        width: 80%;
        margin: 0 5% 0 5%;
        font-size-adjust: relative;
        display: inline-block;
        padding: 0.5%;
    }
}